<% wrap_layout :layout do %>
  <article class="article detail">
    <header class="article-title">
      <h1>
        <%= current_article.title %>
      </h1>
      <% if current_article.data.subtitle %>
        <h2>——<%= current_article.data.subtitle %></h2>
      <% end %>
    </header>
    <ul class="extro-info">
      <li class="date">
        <%= current_article.date.to_s(:my_format) %>
      </li>
      <% current_article.tags.each do |tag| %>
        <li class="tag">
          <a href="<%= tag_path tag %>"><%= tag %></a>
        </li>
      <% end %>
      <li class="comment">
        <a class="ds-thread-count"
          data-thread-key="<%= current_article.slug %>"
          href="#comment"></a>
      </li>
    </ul>
    
    <div class="article-content">
      <%= current_article.body %>
    </div>
  </article>
  <div id="comment">
    <div class="ds-thread" data-thread-key="<%= current_article.slug %>"></div>
  </div>
<% end %>