<% wrap_layout :layout do %>
  <article class="article detail">
    <header class="article-title">
      <h1>
        <%= current_article.title %>
      </h1>
      <% if current_article.data.subtitle %>
        <h2>——<%= current_article.data.subtitle %></h2>
      <% end %>
    </header>
    <ul class="extro-info">
      <li class="date">
        <%= current_article.date.strftime('%h %d, %Y ') %>
      </li>
      <% current_article.tags.each do |tag, articles| %>
        <li class="tag">
          <a href="<%= tag_path tag %>"><%= tag %></a>
        </li>
      <% end %>
    </ul>
    
    <div class="article-content">
      <%= yield %>
    </div>
  </article>
<% end %>