---
pageable: false
type: summary
---

<% blog.articles.each do |article| %>
  <article class="article">
    <ul class="extro-info">
      <li class="date">
        <%= article.date.to_s(:my_format) %>
      </li>
      <% article.tags.each do |tag| %>
        <li class="tag">
          <a href="<%= tag_path tag %>"><%= tag %></a>
        </li>
      <% end %>
      <li class="comment">
        <a class="ds-thread-count"
          data-thread-key="<%= article.slug %>"
          href="<%= article.url %>#comment"></a>
      </li>
    </ul>
    <header class="article-title">
      <h1>
        <%= link_to article.title, article %>
      </h1>
      <% if article.data.subtitle %>
        <h2>——<%= article.data.subtitle %></h2>
      <% end %>
    </header>
    <div class="article-content">
      <%= article.summary %>
    </div>
  </article>
<% end %>

<%= partial "pagination" %>
