---
pageable: false
---

<% page_articles.each do |article| %>
  <article class="article">
    <ul class="extro-info">
      <li class="date">
        <%= article.date.strftime('%h %d, %Y ') %>
      </li>
      <% article.tags.each do |tag, articles| %>
        <li class="tag">
          <a href="<%= tag_path tag %>"><%= tag %></a>
        </li>
      <% end %>
    </ul>
    <header class="article-title">
      <%= article.title %>
    </header>
    <div class="article-content">
      <%= article.body %>
    </div>
  </article>
<% end %>

<% if paginate %>
  <ul class="pagination">
  <% if prev_page %>
    <li><%= link_to '<<', prev_page %></li>
  <% end %>
  <% (1..num_pages).each do |number| %>
    <% if number == page_number %>
      <li>
        <span><%= number %></span>
      </li>
    <% elsif number == 1 %>
      <li>
        <a href="/"><%= number %></a>
      </li>
    <% else %>
      <li>
        <a href="<%= '/page/' + number.to_s + '/' %>"><%= number %></a>
      </li>
    <% end %>
  <% end %>
  <% if next_page %>
    <li><%= link_to '>>', next_page %></li>
  <% end %>
  </ul>
<% end %>
